*{
    margin: 0;
    padding: 0;
    
   
}
.background_body{
    background-image: url(./PHero-Tube/bg-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

/* published date */
.published_date{
    position: relative;
    margin-top: -55px;
    padding-left: 8rem;
   
}

